
{%- set users_userlist = {} %}

{%- for user, args in pillar.get('users', {}).items() %}

  {%- do users_userlist.update( 
    { user: {
      'uid': args['uid'] | default(''),
      'name': user,
      'password': args['password'] | default(''),
      'fullname': args['fullname'] | default(''),
      'homepath': args['homepath'] | default('/home/' + user ),
      'sh': args['sh'] | default('/bin/bash'),
      'groups': args['groups'] | default(['users']),
      'ssh_keys': args['public-ssh-keys']
    }}) 
  %}

{%- endfor %}